version: 2.1

parameters:
  isNightly:
    type: boolean
    default: false

commands:
  bootstrap_repository_command:
    description: "Bootstrap the repository"
    steps:
      - run:
          name: Install pnpm
          command: |
            npm install -g pnpm@10 --prefix .pnpm
            echo 'export PATH="$PWD/.pnpm/bin:$PATH"' >> $BASH_ENV
      - run:
          name: Verify pnpm version
          command: pnpm --version
      - install_ssh_keys_command
      - run:
          name: Install dependencies
          command: pnpm install

  install_ssh_keys_command:
    description: "Install SSH keys"
    steps:
      - add_ssh_keys:
          fingerprints:
            - "a0:41:a2:56:c8:7d:3f:29:41:d1:87:92:fd:50:2b:6b"

jobs:
  notify_ci_failure:
    docker:
      - image: cimg/node:24.11.0
    parameters:
      hideAuthor:
        type: string
        default: "false"
    steps:
      - checkout
      - bootstrap_repository_command
      - run:
          environment:
            CKE5_SLACK_NOTIFY_HIDE_AUTHOR: << parameters.hideAuthor >>
            CKE5_PIPELINE_NUMBER: << pipeline.number >>
          name: Waiting for other jobs to finish and sending notification on failure
          command: pnpm ckeditor5-dev-ci-circle-workflow-notifier
          no_output_timeout: 1h

  lint:
    docker:
      - image: cimg/node:24.11.0
    steps:
      - checkout
      - bootstrap_repository_command
      - run:
          name: Execute ESLint
          command: pnpm run lint

  build_local:
    docker:
      - image: cimg/node:24.11.0
    steps:
      - checkout
      - bootstrap_repository_command
      - run:
          name: Build local
          command: pnpm samples:build-local -c 1

  build:
    docker:
      - image: cimg/node:24.11.0
    steps:
      - checkout
      - bootstrap_repository_command
      - run:
          name: Build
          command: pnpm samples:build -c 1

workflows:
  version: 2
  main:
    unless: << pipeline.parameters.isNightly >>
    jobs:
      - lint
      - build_local
      - build
      - notify_ci_failure:
          filters:
            branches:
              only:
                - master

  nightly:
    when: << pipeline.parameters.isNightly >>
    jobs:
      - lint
      - build_local
      - build
      - notify_ci_failure:
          hideAuthor: "true"
          filters:
            branches:
              only:
                - master
