<header>
	<div class="centered">
		<h1>
			<a href="https://ckeditor.com/ckeditor-5/" target="_blank" rel="noopener noreferrer">
				<img src="https://c.cksource.com/a/1/logos/ckeditor5.svg" alt="CKEditor 5 logo" /> CKEditor 5
			</a>
		</h1>

		<nav>
			<ul>
				<li>
					<a href="https://ckeditor.com/collaboration/" target="_blank" rel="noopener noreferrer">Website</a>
				</li>
				<li>
					<a href="https://ckeditor.com/docs/ckeditor5/latest/features/collaboration/real-time-collaboration/real-time-collaboration.html"
						target="_blank" rel="noopener noreferrer">Documentation</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<main>
	<div class="message">
		<div class="centered">
			<h1>CKEditor5 real-time collaboration sample for Angular</h1>
			<p>
				Open this sample in another browser tab to start real-time collaborative editing.
			</p>
		</div>
	</div>
	<div class="centered">
		<div class="row row-presence">
			<div #presenceList class='presence'></div>
		</div>
		<div class='row row-editor'>
			<ckeditor [editor]="Editor" (ready)="onReady($event)" [config]="editorConfig" [data]="data"></ckeditor>
			<div #sidebar class='sidebar'></div>
		</div>
	</div>
</main>

<footer>
	<div class="centered">
		<p>
			<a href="https://ckeditor.com/ckeditor-5/" target="_blank" rel="noopener noreferrer">CKEditor 5</a> – Rich text editor of tomorrow, available today
		</p>
		<p>
			Copyright © 2003-2019, <a href="https://cksource.com/" target="_blank" rel="noopener noreferrer">CKSource</a> – Frederico Knabben. All rights reserved.
		</p>
	</div>
</footer>
